
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="favicon" href="../favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Cash Manager</title>
</head>
<body>
    
<div class=page>
    <nav class="nav_main">
    <div class="navdiv">
        <div class="user_icon"><div><i class="fas fa-user-alt"></i></div></div>
        <h2 class="nombre">usuario</h2>
    <%= link_to raw('<i class="fas fa-home"></i>inicio'), {action: 'inicio'},class:'nav_input' %>
    <%= link_to raw('<i class="fab fa-get-pocket"></i>bolsillos'), {action: 'bolsillos'},class:'nav_input' %>
    <a class="nav_input_look"><i class="fas fa-balance-scale-right"></i>balances</a>
    <%=link_to raw('<i class="fas fa-chart-pie"></i>graficas'), {action: 'graficas'}, class: 'nav_input'%>       
    </div>
    <div class="footer">
            <p class="copy">&copy; 2020 <%= @name %></p>
    </div>
    </nav>
    <div class="details">
        <div class="dash_board">
                <!-- Table of pockets -->
                <div class="row mr-5 p-8">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Clase</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Metodo de Pago</th>
                        <th scope="col">Costo Neto</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Comida</td>
                        <td>01/04/2021</td>
                        <td>Efectivo</td>
                        <td>$ 266.899,00</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Transporte</td>
                        <td>01/04/2021</td>
                        <td>Compra Virtual</td>
                        <td>$ 366.899,00</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Salud</td>
                        <td>01/04/2021</td>
                        <td>Compra Virtual</td>
                        <td>$ 1'234.567,21</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Mascotas</td>
                        <td>01/04/2021</td>
                        <td>Efectivo</td>
                        <td>$ 2'500.000,00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
            
</html>