<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="favicon" href="../favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Cash Manager</title>
</head>
<body>
<!-- Last-->
<div class=page>
  <nav class="nav_main">

    <div class="navdiv">
      <div class="user_icon">
        <div><i class="fas fa-user-alt"></i></div>
      </div>
      <h2 class="nombre">usuario</h2>
      <%= link_to raw('<i class="fas fa-home"></i>inicio'), { action: 'inicio' }, class: 'nav_input' %>
      <a class="nav_input_look"><i class="fab fa-get-pocket"></i>bolsillos</a>
      <%= link_to raw('<i class="fas fa-balance-scale-right"></i>balances'), { action: 'balances' }, class: 'nav_input' %>
      <%= link_to raw('<i class="fas fa-chart-pie"></i>graficas'), { action: 'graficas' }, class: 'nav_input' %>
    </div>
    <div class="footer">
      <p class="copy">&copy; 2020 <%= @name %></p>
    </div>
  </nav>
  <div class="details">

    <div class="dash_board">
      <div id="crear_bolsillo" class="bolsillo">
        Crear bolsillo
        <div class="cont_btn">
          <div class="submit" onclick="cancelar()">cancelar</div>
          <div class="submit_i">crear</div>
        </div>
      </div>
      <div id="bolsillos">
        <!-- New Pocket -->
        <div class="row row-cols-1 row-cols-md-5 mb-5 text-center">
            <div class="cont_placa" onclick="crear()">
              <div class="placa">crear bolsillo</div>
          </div>
        </div>
        <!-- Number of pockets -->
        <div class="row p-5">
          <div class="col ml-2 mr-2">

            <!-- Pocket one -->
            <div class="placa" style="max-width: 18rem;">
              <div class="card-body text-dark">
                <h5 class="card-title text-center" style="color: #ffd369">
                  <strong>$</strong> 1'234.567,21
                </h5>
              </div>
              <div class="card-footer bg-transparent border-dark text-center">
                <strong>Bancolombia Ahorros</strong>
              </div>
            </div>

          </div>

          <div class="col ml-2 mr-2">

            <!-- Pocket two-->
            <div class="placa" style="max-width: 18rem;">
              <div class="card-body text-dark">
                <h5 class="card-title text-center" style="color: #ffd369">
                  <strong>$</strong> 366.899,00
                </h5>
              </div>
              <div class="card-footer bg-transparent border-dark text-center">
                <strong>Efectivo Actual</strong>
              </div>
            </div>


          </div>
          <div class="col ml-2 mr-2">

            <!-- Pocket three -->
            <div class="placa" style="max-width: 18rem;">
              <div class="card-body text-dark">
                <h5 class="card-title text-center" style="color: #ffd369">
                  <strong>$</strong> 2'500.000,00
                </h5>
              </div>
              <div class="card-footer bg-transparent border-dark text-center">
                <strong>Ahorro Credito</strong>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
  function crear(){
    var btn = document.getElementById("bolsillos");
    var form = document.getElementById("crear_bolsillo");
    btn.style.display = "none";
    form.style.display = "block";

  }
  function cancelar(){
    var btn = document.getElementById("bolsillos");
    var form = document.getElementById("crear_bolsillo");
    btn.style.display = "block";
    form.style.display = "none";
  }
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>